# Ignore version control
.git
.gitignore

# Ignore Docker artifacts
Dockerfile
.dockerignore

# OS & Editor files
*.swp
*.swo
*.bak
*.tmp
*.log
.DS_Store
Thumbs.db

# Node / Python / Language-specific
node_modules/
__pycache__/
.env

# Jenkins specific
*.war
*.jar
workspace/
builds/
logs/
